.DS_Store
*.xcodeproj
!project.yml
xcuserdata/
*.xcworkspace/xcuserdata/
.build/
.swiftpm/
DerivedData/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
*.ipa
*.dSYM.zip
